In [46]:
import scipy.stats as st

import numpy as np


import pandas as pd
df = pd.read_excel("Budget.xlsx",'01-Budget')

df = df.head(36) # We make this step in order to remove calculated values from the end of the sheet
df

,Year,Month,Bank_Balance,Revenue,Bonus,Gammiat,ZAKAT,Salaries,Maint,Stock,...,Club,Cloths,Schools,Education,Internet,Electric,Gas,Add_Expenses,Fuel,Balance
0,2022,مارس 22,70000.0,30000.0,0.0,NaN,NaN,-3500.0,-200.0,NaN,...,NaN,NaN,NaN,-3000.0,-250.0,-400.0,-100.0,-1500.0,-600.0,83050.0
1,2022,إبريل 22,83050.0,39000.0,0.0,-4000.0,NaN,-3500.0,-200.0,-20000.0,...,NaN,-4500.0,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,71600.0
2,2022,مايو 22,71600.0,41000.0,-410.0,-4000.0,NaN,-3500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,91240.0
3,2022,يونيو 22,91240.0,39000.0,0.0,-4000.0,NaN,-3500.0,-200.0,-20000.0,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,89290.0
4,2022,يوليو 22,89290.0,43000.0,-430.0,-4000.0,NaN,-3500.0,-200.0,NaN,...,NaN,NaN,-8000.0,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,102910.0
5,2022,أغسطس 22,102910.0,39000.0,0.0,20000.0,-8000.0,-3500.0,-200.0,-60000.0,...,-1200.0,-4500.0,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,71260.0
6,2022,سبتمبر 22,71260.0,50000.0,-500.0,NaN,NaN,-3500.0,-200.0,NaN,...,NaN,NaN,-40000.0,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,60810.0
7,2022,أكتوبر 22,60810.0,80000.0,-800.0,NaN,NaN,-3500.0,-200.0,-20000.0,...,NaN,NaN,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,100060.0
8,2022,نوفمبر 22,100060.0,39000.0,0.0,NaN,NaN,-3500.0,-200.0,NaN,...,NaN,NaN,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,119110.0
9,2022,ديسمبر 22,119110.0,41000.0,-410.0,NaN,NaN,-3500.0,-200.0,-20000.0,...,NaN,-4500.0,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,115250.0
10,2023,يناير 23,115250.0,30000.0,0.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,124300.0
11,2023,فبراير 23,124300.0,50000.0,-500.0,NaN,NaN,-4500.0,-200.0,-30000.0,...,NaN,NaN,-30000.0,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,92850.0
12,2023,مارس 23,92850.0,33000.0,0.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,-3000.0,-500.0,-1000.0,-100.0,-1000.0,-750.0,98900.0
13,2023,إبريل 23,98900.0,39000.0,0.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,-4500.0,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,92450.0
14,2023,مايو 23,92450.0,36000.0,0.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,107500.0
15,2023,يونيو 23,107500.0,36000.0,0.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,NaN,-3000.0,-500.0,-1000.0,-100.0,NaN,-750.0,102550.0
16,2023,يوليو 23,102550.0,36000.0,0.0,NaN,-8000.0,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,112600.0
17,2023,أغسطس 23,112600.0,40000.0,-400.0,NaN,NaN,-4500.0,-200.0,-60000.0,...,-1200.0,-4500.0,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,68550.0
18,2023,سبتمبر 23,68550.0,50000.0,-500.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,-40000.0,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,60100.0
19,2023,أكتوبر 23,60100.0,80000.0,-800.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,101350.0
20,2023,نوفمبر 23,101350.0,45000.0,-450.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,127950.0
21,2023,ديسمبر 23,127950.0,45000.0,-450.0,NaN,NaN,-4500.0,-200.0,-40000.0,...,NaN,-4500.0,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,110050.0
22,2024,يناير 24,110050.0,30000.0,0.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,122100.0
23,2024,فبراير 24,122100.0,50000.0,-500.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,-30000.0,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,103650.0
24,2024,مارس 24,103650.0,33000.0,0.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,-1000.0,-750.0,117700.0
25,2024,إبريل 24,117700.0,40000.0,-400.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,-4500.0,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,114850.0
26,2024,مايو 24,114850.0,40000.0,-400.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,136500.0
27,2024,يونيو 24,136500.0,40000.0,-400.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,138150.0
28,2024,يوليو 24,138150.0,40000.0,-400.0,NaN,-8000.0,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,151800.0
29,2024,أغسطس 24,151800.0,40000.0,-400.0,NaN,NaN,-4500.0,-200.0,-60000.0,...,-1200.0,-4500.0,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,107750.0
30,2024,سبتمبر 24,107750.0,50000.0,-500.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,-40000.0,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,99300.0
31,2024,أكتوبر 24,99300.0,82000.0,-820.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,142530.0
32,2024,نوفمبر 24,142530.0,45000.0,-450.0,NaN,NaN,-4500.0,-200.0,NaN,...,NaN,NaN,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,169130.0
33,2024,ديسمبر 24,169130.0,45000.0,-450.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,-4500.0,NaN,0.0,-500.0,-1000.0,-100.0,NaN,-750.0,171230.0
34,2025,يناير 25,171230.0,45000.0,-450.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,NaN,NaN,-500.0,-1000.0,-100.0,NaN,-750.0,177830.0
35,2025,فبراير 25,177830.0,45000.0,-450.0,NaN,NaN,-4500.0,-200.0,-20000.0,...,NaN,NaN,NaN,NaN,-500.0,-1000.0,-100.0,NaN,-750.0,184430.0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 23 columns):
Year             36 non-null object
Month            36 non-null object
Bank_Balance     36 non-null float64
Revenue          36 non-null float64
Bonus            36 non-null float64
Gammiat          5 non-null float64
ZAKAT            3 non-null float64
Salaries         36 non-null float64
Maint            36 non-null float64
Stock            19 non-null float64
Home_Expenses    36 non-null float64
Cleanind         36 non-null float64
Medicines        36 non-null float64
Club             3 non-null float64
Cloths           9 non-null float64
Schools          6 non-null float64
Education        34 non-null float64
Internet         36 non-null float64
Electric         36 non-null float64
Gas              36 non-null float64
Add_Expenses     3 non-null float64
Fuel             36 non-null float64
Balance          36 non-null float64
dtypes: float64(21), object(2)
memory usage: 6.5+ KB

In [48]:
df.describe()

,Bank_Balance,Revenue,Bonus,Gammiat,ZAKAT,Salaries,Maint,Stock,Home_Expenses,Cleanind,...,Club,Cloths,Schools,Education,Internet,Electric,Gas,Add_Expenses,Fuel,Balance
count,36.000000,36.000000,36.000000,5.000000,3.0,36.000000,36.0,19.000000,36.000000,36.0,...,3.0,9.0,6.000000,34.000000,36.000000,36.000000,36.0,3.000000,36.000000,36.000000
mean,109062.500000,44055.555556,-313.055556,800.000000,-8000.0,-4222.222222,-200.0,-27894.736842,-10097.222222,-400.0,...,-1200.0,-4500.0,-31333.333333,-1058.823529,-493.055556,-983.333333,-100.0,-1166.666667,-745.833333,112241.111111
std,29698.100312,12517.289630,260.239664,10733.126292,0.0,454.256763,0.0,15121.341566,1081.133297,0.0,...,0.0,0.0,12436.505404,1455.213750,41.666667,100.000000,0.0,288.675135,25.000000,31468.738844
min,60100.000000,30000.000000,-820.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-60000.000000,-15000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,-3000.000000,-500.000000,-1000.000000,-100.0,-1500.000000,-750.000000,60100.000000
25%,92147.500000,39000.000000,-450.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-25000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,-3000.000000,-500.000000,-1000.000000,-100.0,-1250.000000,-750.000000,92750.000000
50%,105575.000000,40000.000000,-400.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-35000.000000,0.000000,-500.000000,-1000.000000,-100.0,-1000.000000,-750.000000,107625.000000
75%,122650.000000,45000.000000,0.000000,-4000.000000,-8000.0,-3500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-30000.000000,0.000000,-500.000000,-1000.000000,-100.0,-1000.000000,-750.000000,125212.500000
max,177830.000000,82000.000000,0.000000,20000.000000,-8000.0,-3500.000000,-200.0,-20000.000000,-6500.000000,-400.0,...,-1200.0,-4500.0,-8000.000000,0.000000,-250.000000,-400.000000,-100.0,-1000.000000,-600.000000,184430.000000

In [50]:
# percentile list
perc =[.10,.20,.30, .40, .60, .80]
df.describe(percentiles =perc)

,Bank_Balance,Revenue,Bonus,Gammiat,ZAKAT,Salaries,Maint,Stock,Home_Expenses,Cleanind,...,Club,Cloths,Schools,Education,Internet,Electric,Gas,Add_Expenses,Fuel,Balance
count,36.000000,36.000000,36.000000,5.000000,3.0,36.000000,36.0,19.000000,36.000000,36.0,...,3.0,9.0,6.000000,34.000000,36.000000,36.000000,36.0,3.000000,36.000000,36.000000
mean,109062.500000,44055.555556,-313.055556,800.000000,-8000.0,-4222.222222,-200.0,-27894.736842,-10097.222222,-400.0,...,-1200.0,-4500.0,-31333.333333,-1058.823529,-493.055556,-983.333333,-100.0,-1166.666667,-745.833333,112241.111111
std,29698.100312,12517.289630,260.239664,10733.126292,0.0,454.256763,0.0,15121.341566,1081.133297,0.0,...,0.0,0.0,12436.505404,1455.213750,41.666667,100.000000,0.0,288.675135,25.000000,31468.738844
min,60100.000000,30000.000000,-820.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-60000.000000,-15000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,-3000.000000,-500.000000,-1000.000000,-100.0,-1500.000000,-750.000000,60100.000000
10%,70630.000000,33000.000000,-500.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-60000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,-3000.000000,-500.000000,-1000.000000,-100.0,-1400.000000,-750.000000,71430.000000
20%,89290.000000,36000.000000,-500.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-34000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,-3000.000000,-500.000000,-1000.000000,-100.0,-1300.000000,-750.000000,91240.000000
30%,95875.000000,39000.000000,-450.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,-3000.000000,-500.000000,-1000.000000,-100.0,-1200.000000,-750.000000,99100.000000
40%,101350.000000,40000.000000,-430.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-40000.000000,0.000000,-500.000000,-1000.000000,-100.0,-1100.000000,-750.000000,102550.000000
50%,105575.000000,40000.000000,-400.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-35000.000000,0.000000,-500.000000,-1000.000000,-100.0,-1000.000000,-750.000000,107625.000000
60%,112600.000000,43000.000000,-400.000000,-4000.000000,-8000.0,-4500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-30000.000000,0.000000,-500.000000,-1000.000000,-100.0,-1000.000000,-750.000000,114850.000000
80%,127950.000000,50000.000000,0.000000,800.000000,-8000.0,-3500.000000,-200.0,-20000.000000,-10000.000000,-400.0,...,-1200.0,-4500.0,-30000.000000,0.000000,-500.000000,-1000.000000,-100.0,-1000.000000,-750.000000,136500.000000
max,177830.000000,82000.000000,0.000000,20000.000000,-8000.0,-3500.000000,-200.0,-20000.000000,-6500.000000,-400.0,...,-1200.0,-4500.0,-8000.000000,0.000000,-250.000000,-400.000000,-100.0,-1000.000000,-600.000000,184430.000000

In [51]:
df.Revenue.describe(percentiles =perc)

count       36.000000
mean     44055.555556
std      12517.289630
min      30000.000000
10%      33000.000000
20%      36000.000000
30%      39000.000000
40%      40000.000000
50%      40000.000000
60%      43000.000000
80%      50000.000000
max      82000.000000
Name: Revenue, dtype: float64

In [ ]:
df = df[["Year","Revenue"]]

In [4]:
#AGGREGATE FUNCTIONS for describtive analysis
print (df.describe(percentiles=[.1,.2,.3,.4,.6,.7,.8,.9]))
print ("Sum of dataset is",df.sum().values)
print ("Min of dataset is",df.min().values)
print ("Max of dataset is",df.max().values)
print ("Mean of dataset is",df.mean().values)
print ("Harmonic  mean of dataset is",st.hmean(df.Revenue))
print ("Geometric mean of dataset is",st.gmean(df.Revenue))
print ("Interquartile range of dataset is",st.iqr(df.Revenue))
print ("Median of dataset is",df.median().values)
print ("First quartile of dataset is",df.quantile(.25).values) # means the quartile
print ("Second quartile of dataset is",df.quantile(.5).values) # means the quartile
print ("Third quartile of dataset is",df.quantile(.75).values) # means the quartile
print (" Mode of dataset is",df.mode().values) # means the quartile

            Revenue
count     36.000000
mean   44055.555556
std    12517.289630
min    30000.000000
10%    33000.000000
20%    36000.000000
30%    39000.000000
40%    40000.000000
50%    40000.000000
60%    43000.000000
70%    45000.000000
80%    50000.000000
90%    50000.000000
max    82000.000000
Sum of dataset is [  72834. 1586000.]
Min of dataset is [ 2022. 30000.]
Max of dataset is [ 2025. 82000.]
Mean of dataset is [ 2023.16666667 44055.55555556]
Harmonic  mean of dataset is 41632.48951581604
Geometric mean of dataset is 42707.46679717349
Interquartile range of dataset is 6000.0
Median of dataset is [ 2023. 40000.]
First quartile of dataset is [39000.]
Second quartile of dataset is [40000.]
Third quartile of dataset is [45000.]
 Mode of dataset is [[2023 40000.0]
 [2024 45000.0]]

In [5]:
#AGGREGATE FUNCTIONS for Despiration measurements
print (" Standard deviation of dataset is",df.Revenue.std())
print (" Variance of dataset is",df.Revenue.var())

 Standard deviation of dataset is 12517.289630049301
 Variance of dataset is 156682539.6825398

In [54]:
#AGGREGATE FUNCTIONS for correlation
Y = df.Revenue
X = df.Year
newDF = df.groupby('Year').sum()
newDF['Year'] = newDF.index
newDF.at[2025,'Revenue'] = 550000
newDF = newDF [['Year','Revenue']] 
newDF.corr() # get the relationship matrix

             Year   Revenue
Year     1.000000  0.909047
Revenue  0.909047  1.000000

In [35]:
#AGGREGATE FUNCTIONS for destribution measurements
print (" Skewness of dataset is",df.skew().values) # means the quartile
print (" Kurtosis of dataset is",df.kurtosis().values) # means the quartile

 Skewness of dataset is [0.13370245 2.08024397]
 Kurtosis of dataset is [-0.95741637  4.437629  ]

In [36]:
groupeddf = df.groupby("Year").sum()
groupeddf

       Revenue
Year
2022  441000.0
2023  520000.0
2024  535000.0
2025   90000.0

In [37]:
table = pd.pivot_table(data=df,index=['Year'],aggfunc='mean')
table

           Revenue
Year
2022  44100.000000
2023  43333.333333
2024  44583.333333
2025  45000.000000

In [38]:
#AGGREGATE FUNCTIONS for despersion measurements
print ("standard deviation of dataset is",df.std().values) # means the quartile
print ("Co-variance of dataset is",df.cov().values) # means the quartile

standard deviation of dataset is [9.10258990e-01 1.25172896e+04]
Co-variance of dataset is [[1.5668254e+08]]